{% extends 'IdeaSite/base.html' %}

{% block content %}

<h1>Idea Detail</h1>
<p>아이디어 세부내용 페이지 입니다. 당신이 구현하려 한 아이디어들을 자세히 살펴보세요.</p>

<hr>

<h1>{{ idea.title }}
    <a href="{% url 'idea_star' idea.id %}">
        {% if is_starred %}★{% else %}☆{% endif %}
    </a>
</h1>

{% if idea.image %}
    <img src="{{ idea.image.url }}" width="200">
{% endif %}

<p>1. 아이디어 관심도: 
    <a href="{% url 'idea_interest_down' idea.id %}">-</a>
    {{ idea.interest }}
    <a href="{% url 'idea_interest_up' idea.id %}">+</a>
</p>
<p>2. 예상 개발 툴: <a href="{% url 'develop_detail' idea.devtool.id %}">{{ idea.devtool.name }}</a></p>
<p>3. 아이디어 설명: {{ idea.content }}</p>

<hr>
<div class="btn-group">
    <a href="{% url 'idea_delete' idea.id %}" class="btn btn-delete">삭제</a>
    <a href="{% url 'idea_list' %}" class="btn btn-list">목록</a>
    <a href="{% url 'idea_modify' idea.id %}" class="btn btn-modify">수정</a>
</div>
{% endblock %}